baseURL = 'https://example.org/'
languageCode = 'ja-JP'
title = "shikixyx's blog"

theme = "puppet"
# themesDir = "../.."

copyright = ""
paginate = 3
defaultContentLanguage = "jp"

hasCJKLanguage = true
enableInlineShortcodes = true
enableEmoji = true
# prevent build failures when using Hugo's Instagram shortcode due to deprecated Instagram API.
# See https://github.com/gohugoio/hugo/issues/7228#issuecomment-714490456
ignoreErrors = ["error-remote-getjson"]

disqusShortname = ""
# googleAnalytics = ""

[outputs]
home = ["HTML", "JSON", "RSS"]

# prevent build failures when using Hugo's template _internal/opengraph.html 
[taxonomies]
category = "categories"
tag = "tags"
series = "series"

[markup]
[markup.highlight]
noClasses = true
codeFences = true
guessSyntax = true
lineNos = true
lineNumbersInTable = false
style = "dracula"

[markup.goldmark.renderer]
unsafe = true

[menu]
[[menu.main]]
identifier = "home"
name = "Home"
url = "/"
weight = -100
[[menu.main]]
identifier = "archive"
name = "Archive"
url = "/archive/"
weight = 10
[[menu.main]]
identifier = "about"
name = "About"
url = "/about/"
weight = 50
[[menu.main]]
identifier = "github"
name = "Github"
url = "https://github.com/shikixyx/"
weight = 100


[params]
author = "shikixyx"
# description = "A simple and clean theme for Hugo"
keywords = "blog,developer,personal"
img_home = "img/bg-home.jpg"
img_404 = "img/bg-404.jpg"

useFaviconGenerator = true

custom_js = []
custom_css = [
] # ["css/custom.css"]  Add your file to assets folder  [assets/css/custom.css]

[params.sidebar]
enable = true
gravatarEmail = ""
# Overwritten by your gravatar image if `gravatarEmail` is filled
avatar = "img/avatar.jpg"
bio = "a personal website"

[params.social]
twitter = "shikixyx"
github = "shikixyx"
